$background-color: #2a2e37;
$search-bg-color: #15191d;
$icon-color: #474554;

.container {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 50px 1fr;
  border-radius: 10px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header {
  grid-area: 1 / 1 / 1 / 4;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  .ref-lbl {
    margin-top: 12px;
    margin-left: 10px;
    display: flex;
  }

  .cmd-bar {
    align-self: center;
    .cmd-txt {
      background: transparent;  
      // opacity: 0.4;  
      
      margin-top: 10px;
      // height: 80%;
      // border-radius: 7px;
      border: 2px solid black;
      border-left: 0px;
      border-right: 0px;
      
      outline: none;
      font-size: 1.2em;
      padding: 4px 7px;
      
      &::placeholder {
        color: color(#575756 a(0.8));
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    }
    .cmd-list {
      position: absolute;
      background: black;
      top: 33px;
      // border-radius: 8px;
      padding-top: 5px;
      border-left: 1px solid black;
      border-right: 1px solid black;
      transition: 0.4s;
      width: 222px;
      z-index: 4;
      list-style: none;
      padding-left: 0;

      .cmd {
        position: relative;
        display: flex;
        padding-left: 14px;
        color: whitesmoke;
        align-items: baseline;
        padding-top: 2px;
        padding-bottom: 2px;
        border-bottom: 1px solid black;
        cursor: pointer;
        &:hover {
          background: $icon-color;
        }

        .opts {
          margin-left: 10px;
          font-size: 0.7em;
        }

        .shortcut {
          padding-right: 10px;
          font-family: monospace;
          font-size: 0.7em;
          margin-left: auto;
        }
      }

      & p {
        padding-left: 10px;
        color: whitesmoke;
      }
    }
  }

  .recent-lbl {
    // width: 400px;
    height: 50px;
    background: black;
  }
}

#editor {
  grid-area: 2 / 2 / 3 / 3;
}

.dash {
  background: black;
  transform: skew(-12deg);
  border-radius: 2px;
  position: relative;
  top: 10px;
  margin: auto;
  width: 8px;
  height: 2em;
}
