@import url("https://fonts.googleapis.com/css?family=Kelly+Slab|Zilla+Slab:400,700&display=swap");
*:focus {
  outline: none;
}

body {
  font-family: "Zilla Slab", serif;
  color: #242829;
  background: #dddbc7;
}

.codex-editor {
  width: 100%;
  height: 100%;
}

::-moz-selection {
  background: #eef138;
  /* WebKit/Blink Browsers */
}

::selection {
  background: #eef138;
  /* WebKit/Blink Browsers */
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  -ms-grid-rows: 50px 1fr;
      grid-template-rows: 50px 1fr;
  width: 100%;
  height: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 1 / 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header .texty-btn {
  border: none;
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  background: none;
  cursor: pointer;
  padding: none;
  margin: none;
  font-size: 1.5em;
  position: relative;
}

.header .texty-btn:hover {
  text-decoration: underline;
}

.header .ref-lbl {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .ref-lbl svg {
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header #title-input {
  background: none;
  border: none;
  font-size: 1.8em;
  margin-left: 20px;
}

.header .cmd-bar {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .recent-lbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ref-list {
  text-align: end;
  text-justify: top;
  font-weight: 600;
  padding-top: 32px;
}

.ref-list .ref-card {
  margin-left: 4px;
  -webkit-transition: all 0.2 ease;
  transition: all 0.2 ease;
}

.ref-list .ref-card .ref-index {
  margin: 0;
  font-size: 1.5rem;
}

.ref-list .ref-card .ref-title {
  margin: 0;
  font-size: 1.6rem;
}

.ref-list .ref-card .ref-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ref-list .ref-card .ref-tags-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  -ms-flex-line-pack: top;
      align-content: top;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ref-list .ref-card .ref-tags-list ::-moz-selection {
  background: lightskyblue;
}

.ref-list .ref-card .ref-tags-list ::selection {
  background: lightskyblue;
}

.ref-list .ref-card .ref-tags-list h4 {
  margin: 0;
  margin-left: 4px;
  font-weight: 400;
  padding: 2px;
  border-radius: 4px;
  background: #242829;
  color: #dddbc7;
}

#editor {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
  height: 100%;
}

.codex-editor[class*="codex-editor"] {
  width: 100%;
}

.modal[class*="modal "] {
  position: fixed;
  border: 2px solid black;
  border-left: 12px solid black;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 30%;
  top: 120px;
  z-index: 4;
  padding: 25px;
  height: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin: 100px auto 0;
  display: flex;
  -ms-flex-line-pack: bottom;
      align-content: bottom;
}

.modal[class*="modal "] label {
  display: block;
}

.modal[class*="modal "] input {
  display: block;
  background: none;
  border: none;
  padding-left: 8px;
  margin-right: 8px;
  padding-top: 5px;
  border-bottom: 2px solid black;
}

.modal[class*="modal "] label {
  display: block;
}

.modal[class*="modal "] button {
  margin-top: 15px;
  position: relative;
  height: 32px;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  background: none;
  color: black;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.modal[class*="modal "] button:hover {
  color: #000000;
  background-color: #ffffff;
}

.all-cards {
  background: rebeccapurple;
}

.all-cards .card {
  background: white;
}

.dash {
  background: black;
  -webkit-transform: skew(-12deg);
          transform: skew(-12deg);
  border-radius: 2px;
  position: relative;
  top: 10px;
  margin: auto;
  width: 8px;
  height: 2em;
}

.cmd-txt {
  margin-left: 40px;
  background: none;
  border: none;
  border-left: 10px solid black;
  padding: 3px 7px;
}

.cmd-txt::-webkit-input-placeholder {
  color: #3f4446;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cmd-txt:-ms-input-placeholder {
  color: #3f4446;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cmd-txt::-ms-input-placeholder {
  color: #3f4446;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cmd-txt::placeholder {
  color: #3f4446;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.spotlight {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  left: 40%;
  top: 160px;
  z-index: 4;
  border-radius: 4px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 420px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.spotlight input {
  margin: 0;
  border: 2px solid black;
  padding-right: 40px;
  font-size: 1.5em;
}

.spotlight .cmd-list {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-left: 12px solid rgba(0, 0, 0, 0.9);
  z-index: 4;
  list-style: none;
  margin: 0;
  padding: 0;
}

.spotlight .cmd-list .cmd {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-left: 8px;
  padding-right: 8px;
  color: black;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.spotlight .cmd-list .cmd:hover {
  color: red;
}

.spotlight .cmd-list .cmd .opts {
  font-size: 0.7em;
}

.spotlight .cmd-list .cmd .shortcut {
  margin-left: auto;
  font-family: monospace;
  font-size: 0.7em;
}

.spotlight .cmd-list p {
  color: whitesmoke;
}
/*# sourceMappingURL=stylez.css.map */